/*********************************************** General */

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Verdana, sans-serif;
}

th {
    text-align: left;
    width: 150px;
}

img {
    padding: 40px;
}

p.successMessage {
	color: green;
}

p.errorMessage {
	color: red;
}

/*********************************************** Header */

div.header {
    width: 100%;
    background-color: #B20000;
    font-weight:bold;
    height: 30px;
    font-size: 15px;
    padding: 5px 0px 0px 10px;
    color: white;
}

.header a {
    color: white;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
}

.headerAlignRight {
	position: absolute;
	top: 10px;
	right:10px;
}

/*********************************************** Content */

div.content {
    padding: 0px 10px 10px 20px;
}

.pageTitle {
    font-size: 20px;
    font-weight: bold;
}

.requiredField {
    color: red;
}

.formHintText {
    font-size: 10px;
    color: gray;
}
