<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">

    <!-- Backing servlets for jsp/html pages and actions -->
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>main.web.UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewImage</servlet-name>
        <servlet-class>main.web.ViewImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewImage</servlet-name>
        <url-pattern>/ViewImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditImage</servlet-name>
        <servlet-class>main.web.EditImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditImage</servlet-name>
        <url-pattern>/EditImage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>main.web.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <!-- Servlets to obtain specific page objects -->
    <servlet>
        <servlet-name>GetFullImage</servlet-name>
        <servlet-class>main.web.GetFullImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFullImage</servlet-name>
        <url-pattern>/GetFullImage</url-pattern>
    </servlet-mapping>

</web-app>
